        .perfil-container {
            max-width: 800px;
            margin: 20px auto;
            padding: 20px;
            background: white;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .info-usuario p {
            font-size: 18px;
            margin: 10px 0;
        }

        .tarjeta-reporte {
            border: 1px solid #ddd;
            padding: 15px;
            margin-bottom: 10px;
            border-radius: 5px;
            background-color: #f9f9f9;
        }

        .estado-pendiente {
            color: orange;
            font-weight: bold;
        }

        .estado-en {
            color: blue;
            font-weight: bold;
        }

        /* En Proceso */
        .estado-resuelto {
            color: green;
            font-weight: bold;
        }

        .btn-cerrar {
            background-color: #d33;
            color: white;
            padding: 10px 20px;
            border: none;
            cursor: pointer;
            margin-top: 20px;
            border-radius: 5px;
        }